<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse vh-100">
  <div class="position-sticky pt-3">

    <div class="text-center text-white mb-4">
      <h5><%= current_admin.name %></h5>
      <small><%= current_admin.email %></small>
    </div>

    <ul class="nav flex-column">

      <li class="nav-item">
        <%= link_to "Manage Hospitals", manage_hospitals_path, class: "nav-link text-white" %>
      </li>

      <li class="nav-item">
        <%= link_to "Manage Blood Banks", manage_blood_banks_path, class: "nav-link text-white" %>
      </li>

      <li class="nav-item">
        <%= link_to "Manage Admins", "#", class: "nav-link text-white" %>
      </li>

      <li class="nav-item mt-3">
        <%= button_to "Logout",
              destroy_admin_session_path,
              method: :delete,
              class: "btn btn-danger w-100" %>
      </li>

    </ul>
  </div>
</nav>