<nav id="sidebarMenu"
     class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse"
     style="position: fixed; top: 0; left: 0; height: 100vh; width: 250px;">
  <div class="position-sticky pt-3">

    <div class="text-center text-white mb-4">
      <h5><%= current_user.first_name %></h5>
      <small><%= current_user.email %></small>
    </div>

    <ul class="nav flex-column">

      <li class="nav-item">
        <%= link_to "Dashboard", user_dashboard_path, class: "nav-link text-white" %>
      </li>

      <li class="nav-item">
        <%= link_to "Accepted Blood Requests", accepted_user_blood_requests_path, class: "nav-link text-white" %>
      </li>

      <li class="nav-item">
        <%= link_to "Donate Blood", user_blood_banks_path, class: "nav-link text-white" %>
      </li>

      <li class="nav-item">
        <%= link_to "Donation Appointments", user_donation_appointments_path, class: "nav-link text-white" %>
      </li>

      <li class="nav-item mt-3">
        <%= button_to "Logout",
              signout_path,
              method: :delete,
              class: "btn btn-danger w-100" %>
      </li>

    </ul>
  </div>
</nav>