<div class="container mt-5">

  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-danger fw-bold">Blood Requests</h2>

    <%= link_to "Create Blood Request",
      blood_request_form_path,
      class: "btn btn-danger" %>
  </div>


  <!-- Search + Filter -->
 <div class="row mb-4">

  <%= form_with url: request.path, method: :get, local: true do %>

    <div class="col-md-3">
      <select name="status"
              class="form-select"
              onchange="this.form.submit()">

        <option value="">All Status</option>

        <option value="pending"
          <%= "selected" if params[:status] == "pending" %>>
          Pending
        </option>

        <option value="fulfilled"
          <%= "selected" if params[:status] == "fulfilled" %>>
          Fulfilled
        </option>

      </select>
    </div>

  <% end %>

</div>


  <!-- Cards -->
   <% if @blood_requests.present? %>
     <div class="row">

      <% @blood_requests.each do |request| %>

        <div class="col-md-6 col-lg-4 mb-4">

          <div class="card shadow-sm border-0 h-100">

            <div class="card-body d-flex flex-column">

              <h5 class="card-title text-danger fw-bold">
                <%= request.blood_group %>
              </h5>

             <% if request&.blood_bank&.id %>
               <p class="mb-1">
                <strong>Accepted by Blood Bank:</strong>
                <%= request&.blood_bank&.name %>
              </p>
              <% elsif request&.user&.id %>
                 <p class="mb-1">
                <strong>Accepted by User:</strong>
                <%= request&.user&.first_name %> <%= request&.user&.last_name %>
              </p>
              <% else %>
                 <p class="mb-1">
                <strong>Accepted by:</strong>
                Not accepted yet
             <% end %>

              <p class="mb-1">
                <strong>Quantity:</strong>
                <%= request.quantity %>
              </p>

              <p class="mb-3">
                <strong>Status:</strong>

                <% if request.status == "pending" %>
                  <span class="badge bg-warning text-dark">Pending</span>
                <% else %>
                  <span class="badge bg-secondary">Fulfilled</span>
                <% end %>

              </p>

              <!-- Button -->
              <div class="mt-auto">
                <button
                  class="btn btn-outline-primary w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#requestModal<%= request.id %>">
                  View Details
                </button>
              </div>

            </div>

          </div>
        </div>


      <!-- Modal -->
      <div class="modal fade"
           id="requestModal<%= request.id %>"
           tabindex="-1">

        <div class="modal-dialog modal-lg">

          <div class="modal-content">

            <div class="modal-header">
              
                <h5 class="modal-title">
                Blood Request Details
              </h5>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal">
              </button>
            </div>

           


            <div class="modal-body">
              
              <p class="text-danger fw-bold"><strong>Blood Group:</strong> <%= request.blood_group %></p>

              <% if request&.user&.id %>
                <h6 class="text-danger fw-bold mb-3">
                User Information
              </h6>
                <% elsif request&.blood_bank&.id %>
                <h6 class="text-danger fw-bold mb-3">
                Blood Bank Information
              </h6>
              <% end %>
              
              
              <% if request&.user&.first_name && request&.user&.last_name %>
                <p><strong>Name:</strong> <%= request&.user&.first_name %> <%= request&.user&.last_name %></p>
                <% elsif request&.blood_bank&.name %>
                <p><strong>Name:</strong> <%= request&.blood_bank&.name %></p>
              <% end %>
              
              
              <% if request&.user&.id %>
                 <p><strong>Email:</strong> <%= request&.user&.email %></p>
               <% elsif request&.blood_bank&.email %>
                 <p><strong>Email:</strong> <%= request&.blood_bank&.email %></p>
              <% end %>

              <% if request&.user&.id %>
                 <p><strong>Phone:</strong> <%= request&.user&.phone_number %></p>
               <% elsif request&.blood_bank&.phone_number %>
                 <p><strong>Phone:</strong> <%= request&.blood_bank&.phone_number %></p>
              <% end %>

              <% if request&.user&.id %>
                 <p><strong>Address:</strong> <%= request&.user&.address %></p>
                <% elsif request&.blood_bank&.country %>
                 <p><strong>Address:</strong> <%= request&.blood_bank&.address %></p>
              <% end %>

               <% if request&.user&.id %>
                 <p><strong>City:</strong> <%= request&.user&.city %></p>
               <% elsif request&.blood_bank&.city %>
                 <p><strong>City:</strong> <%= request&.blood_bank&.city %></p>
              <% end %>

              <% if request&.user&.id %>
                 <p><strong>State:</strong> <%= request&.user&.state %></p>
                <% elsif request&.blood_bank&.state %>
                 <p><strong>State:</strong> <%= request&.blood_bank&.state %></p>
              <% end %>

              <% if request&.user&.country %>
                 <p><strong>Country:</strong> <%= request&.user&.country %></p>
                <% elsif request&.blood_bank&.country %>
                 <p><strong>Country:</strong> <%= request&.blood_bank&.country %></p>
              
              <% end %>
              
            

              <hr>


              <h6 class="text-danger fw-bold mb-3">
                Hospital Information
              </h6>

              <p><strong>Name:</strong> <%= current_hospital.name %></p>
              <p><strong>City:</strong> <%= current_hospital.city %></p>
              <p><strong>Phone:</strong> <%= current_hospital.phone_number %></p>

              <hr>


              <h6 class="text-danger fw-bold mb-3">
                Blood Request Information
              </h6>

              <p><strong>Requested Date:</strong> <%= DateTime.parse(request.created_at.to_s).strftime('%B %d, %Y') %>
              
              
              <% if request.status == "fulfilled" %>
                <p><strong>Accepted Date:</strong> <%= DateTime.parse(request.updated_at.to_s).strftime('%B %d, %Y') %>
                <% else %>
                <p><strong>Accepted Date:</strong> Not accepted yet</p>
              <% end %>
              

               <% if request.status == "pending" %>
                  <p><strong>Status:</strong> Pending</p>
                <% else %>
                  <p><strong>Status:</strong> Fulfilled</p>
                <% end %>
                
                
                <% if request.allowed_to_users %>
                  <p><strong>Allowed to Users:</strong> Yes</p>
                  <% else %>
                  <p><strong>Allowed to Users:</strong> No</p>
                <% end %>
                

            </div>


            <div class="modal-footer">
            
             <%# <%= button_to "Complete Appointment",
                  accept_donation_appointment_path(
                    appointment_id: appointment.id,
                    blood_bank_id: appointment.blood_bank.id,
                    blood_group: appointment.user.blood_group
                  ),
                  method: :patch,
                  class: "btn btn-success" %> 

              <button
                class="btn btn-secondary"
                data-bs-dismiss="modal">
                Close
              </button>

            </div>

          </div>

        </div>

      </div>


    <% end %>

  </div>

  <% else %>
    
        <div class="alert alert-info">
        No blood requests found.
        </div>
    
     <% end %>
  

</div>